* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
*:before, *:after {
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

input:read-only {
	#color: rgba(252,111,83,0.5);
}

button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a {
	text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
	color: inherit;
	text-decoration: none;
}



ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
	color: #fc6f53;
}

h1 {
	font-size: 5em;
}

h2 {
	font-size: 4em;
}

h3 {
	font-size: 3em;
}

h4 {
	font-size: 2em;
}

h5 {
	font-size: 1.25em;
}

input, button {
	background-color: rgba(0,0,0,0.6);
	color: #fc6f53;
	border: 1px solid #fc6f53;
	border-radius: 4px;
	padding: 4px;
	margin: 1px;
}

input[type=file] {
	background-color: unset;
	border: unset;
	padding: unset;
	color: #3eb9e5;
}

input[type=file]::file-selector-button {
  	background-color: rgba(0,0,0,0.6);
	color: #fc6f53;
	border: 1px solid #fc6f53;
	border-radius: 4px;
	padding: 4px;
}

body {
	/*
	font-family: 'Source Code Pro', monospace;
	font-family: 'Press Start 2P';
	*/
	font-family: 'Kelly Slab', cursive;
	background-color: #404040;
	background-image: url("Background.png");
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center; top;
  	background-attachment: fixed;
	color: #3eb9e5;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	position: relative;
	line-height: 1.4;
	word-spacing: 0px;
}

header {
	padding: 10px;
	text-align: center;
	color: #fc6f53;
}

nav {
	background: rgba(0,0,0,0.6);
	width: 100%;
	align-items: center;
	text-align: center;
	top: 0;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	position: relative;
	display: inline-block;
	text-align: center;
}

nav a {
	display: block;
	padding: 15px 20px;
	font-size: 16;
	text-decoration: none;
	transition: 0.3s linear;
}

nav a:hover {
	color: #fc6f53;
}

footer {
	background: rgba(0,0,0,0.6);
	text-align: center;
}

table{
	width: 100%;
}

td, th{
	text-align: center;
	padding: 5px;
}

table td:nth-child(1) {
	width: 10px;
}

.block {
	float: left;
	width: 50%;
	min-width: 500px;
	padding: 5px;
}

.block-wide {
	float: left;
	width: 100%;
	min-width: 500px;
	padding: 5px;
}

.content {
	padding: 5px;
	float: left;
	display: inline-block;
	width: 100%;
}

.table {
	column-count:2;
    -moz-column-count:2;
    -webkit-column-count:2;
}

.flash {
	color: #fc6f53;
	text-transform: uppercase;
}

.dropDown {
	position: relative;
	display: inline-block;
}

.dropDownContent {
	display: none;
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 2px;
	z-index: 1;
}

.dropDown:hover .dropDownContent {
	display: block;
}

.bodyContent {
	margin: 1% 5%;
	padding: 1%;
	background: rgba(0,0,0,0.6);
	flex: 1;
	border-radius: 15px;
}

.link {
	color: #fc6f53;
	font-style: italic;
	font-weight: bold;
}

.login {
	position: absolute;
	text-align: center;
	width: 60%;
	left: 50%;
	transform: translate(-50%);
}

.skin-block{
	width: 100%;
	max-width: 600px;
	float: left;
	background-color: rgba(66,66,66,0.8);
	border: 2px solid; 
	border-radius: 10px;
}

.submitButton{
	color: #fc6f53;
}

#skin {
	float: left;
	display: inline-block;
	padding: 20px;
}