{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block head %}<script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"></script>{% endblock %}

{% block content %}
<div class="login">
    <h4>Зарегистрироватся</h4>
    <form method="POST">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <tr>
                {% for message in messages %}
                    <td class="flash">{{ message }}</td>
                {% endfor %}
                </tr>
            {% endif %}
        {% endwith %}
        <div class="textField">
            <label>Никнейм</label><br/>
            <input type="text" name="login" required>
            <span></span>
        </div>
        <div class="textField">
            <label>Почта</label><br/>
            <input type="text" name="email" required>
            <span></span>
        </div>
        <div class="textField">
            <label>Пароль</label><br/>
            <input type="password" name="password" required>
            <span></span>
        </div>
        <div class="textField">
            <label>Повторить пароль</label><br/>
            <input type="password" name="password2" required>
            <span></span>
        </div>
        <input class="submitButton" type="submit" value="Зарегистрироватся">
    </form>
</div>
{% endblock %}