{% extends 'base.html' %}

{% block title %}Зарегистрироватся{% endblock %}

{% block content %}
    <body>
        <form method="POST">
            <table>
                <tr>
                    <td><h5>Зарегистрироватся</h5></td>
                </tr>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <tr>
                        {% for message in messages %}
                            <td>{{ message }}</td>
                        {% endfor %}
                        </tr>
                    {% endif %}
                {% endwith %}
                {% block body %}{% endblock %}
                <tr>
                    <td>Логин</td>
                    <td><input type="text" name="login"></td>
                </tr>
                <tr>
                    <td>Пароль</td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td>Повторить пароль</td>
                    <td><input type="password" name="password2"></td>
                </tr>
                <tr>
                    <td><a href="{{ url_for('login_page') }}">Войти</a></td>
                    <td><input type="submit" value="Зарегистрироватся"></td>
                </tr>
            </table>
        </form>
    </body>
{% endblock %}